@page
@model GloboTickets.Promotion.Pages.IndexModel
@using System.Web
@{
    Layout = "_Layout";
}

<h1>GloboTickets Promotion System</h1>

<a type="button" class="btn btn-primary" href="~/Show/@Guid.NewGuid().ToString()">Add Show</a>

<div class="d-flex show-container">
    @foreach (var show in Model.Acts)
    {
        <div class="card show-item">
            <img src="@Url.Content(show.ImageHash == null ? "~/images/NoImage.jpg" : $"~/content/{Uri.EscapeDataString(show.ImageHash)}")" class="card-img-top" alt="@show.Title">
            <div class="card-body">
                <h5 class="card-title">@show.Title</h5>
            </div>
            <div class="card-footer">
                <a href="~/Show/@show.ActGuid" class="btn btn-primary">Edit</a>
                <a href="~/ShowRemove/@show.ActGuid" class="btn btn-danger">Remove</a>
            </div>
        </div>
    }
</div>

@section script
{
}